**Learning Goals**
1. what lists are and how to work with the individual items in a list.
2. How to define a list.
3. How to add and remove elements.
4. To sort lists permanently and temporarily for
display purposes.
5. How to find the length of a list.

**What Is a List?**


1.   A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0-9, or the names of
all the people in your family.
2. You can put anything you want into a list, and
the items in your list don't have to be related in any particular way.

In [1]:
trekking = ['shoes','raincoat','water_bottle','umbrella']
print(trekking)

['shoes', 'raincoat', 'water_bottle', 'umbrella']

**Accessing Elements in a List**

1.   Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired.
2. Index Positions Start at 0, Not 1.
3. We can access elements from the end of the list using negative integers.

In [5]:
trekking[0]

'shoes'

In [6]:
print(trekking[1])
print(trekking[1].title())

raincoat
Raincoat

In [10]:
print(trekking[-1])
print(trekking[-2])
print(trekking[-1],trekking[-3])

umbrella
water_bottle
umbrella raincoat

**Using Individual Values from a List**

In [15]:
message = f"we need to take {trekking[1].title()} and {trekking[3].title()} for trekking"
print(message)

we need to take Raincoat and Umbrella for trekking

**Modifying Elements in a List**

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [19]:
motorcycles[1] = 'apache'
print(motorcycles)

['honda', 'apache', 'suzuki']

**Adding Elements to a List**

In [21]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [52]:
car =[]
car.append('Maruti Suzuki')
car.append('Tata')
car.append('Toyota')
print(car)

['Maruti Suzuki', 'Tata', 'Toyota']

**Inserting Elements into a List**
1. You can add a new element at any position in your list by using the insert()
method.

In [38]:
car.insert(0,'yamaha')
print(car)
del car[0],car[1]
print(car)

['yamaha', 'Maruti Suzuki', 'Tata', 'Toyota']
['Maruti Suzuki', 'Toyota']

**Removing an Item Using the pop() Method**
1. Sometimes youâ€™ll want to use the value of an item after you remove it from a
list. For example, you might want to get the x and y position of an alien that
was just shot down, so you can draw an explosion at that position.
2. In a web
application, you might want to remove a user from a list of active members
and then add that user to a list of inactive members.
3. The pop() method removes the last item in a list, but it lets you work
with that item after removing it.

In [41]:
print(car)
popped_car = car.pop()
print(car)
print(popped_car)

['Maruti Suzuki', 'Tata', 'Toyota']
['Maruti Suzuki', 'Tata']
Toyota

4. How might this pop() method be useful? Imagine that the motorcycles
in the list are stored in chronological order according to when we owned
them. If this is the case, we can use the pop() method to print a statement
about the last motorcycle we bought.

In [43]:
print(f'The last car I owned was {car.pop()}')

The last car I owned was Toyota

**Popping Items from any Position in a List**

In [46]:
car.pop(1)
print(car)

['Maruti Suzuki']

**Removing an Item by Value**
1. Sometimes you won't know the position of the value you want to remove
from a list.
2. The remove() method deletes only the first occurrence of the value you specify. If there's
a possibility the value appears more than once in the list, you'll need to use a loop
to make sure all occurrences of the value are removed.

In [53]:
print(car)
car.remove('Tata')
print(car)

['Maruti Suzuki', 'Tata', 'Toyota']
['Maruti Suzuki', 'Toyota']

**Organizing a List**

**Sorting a List Permanently with the sort() Method**
1. The sort() method, changes the order of the list permanently. The cars are now in alphabetical order, and we can never revert to
the original order.

In [59]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [62]:
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

**Sorting a List Temporarily with the sorted() Function**
1. To maintain the original order of a list but present it in a sorted order, you
can use the sorted() function.
2. The sorted() function lets you display your list
in a particular order but doesn't affect the actual order of the list.

In [70]:
cars = ['bmw', 'audi', 'Toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nhere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list:")
print(cars)

Here is the original list:
['bmw', 'audi', 'Toyota', 'subaru']

here is the sorted list:
['Toyota', 'audi', 'bmw', 'subaru']

Here is the original list:
['bmw', 'audi', 'Toyota', 'subaru']

**Printing a List in Reverse Order**

In [68]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

**Finding the Length of a List**

In [69]:
len(cars)

4