<a href="https://colab.research.google.com/github/akash20sisi/Python/blob/main/Working_with_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning Goals**

**In this chapter you'll learn how to loop through an entire
list using just a few lines of code regardless of how
long the list is.**

**Looping Through an Entire List**

In [2]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician.title())

Alice
David
Carolina

**Doing More Work Within a for Loop**

In [6]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"Hi, {magician.title()}, that was a great trick")
  print(f"Can't wait to see your next trick\n")

Hi, Alice, that was a great trick
Can't wait to see your next trick

Hi, David, that was a great trick
Can't wait to see your next trick

Hi, Carolina, that was a great trick
Can't wait to see your next trick

**Doing Something After a for Loop**

In [7]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"Hi, {magician.title()}, that was a great trick")
print("Thank You Everyone, That was a great show")

Hi, Alice, that was a great trick
Hi, David, that was a great trick
Hi, Carolina, that was a great trick
Thank You Everyone, That was a great show

# Making Numerical Lists

**Using the range() Function**
1. Python’s range() function makes it easy to generate a series of numbers.

In [8]:
for value in range(1,6):
  print(value)

1
2
3
4
5

In [9]:
for value in range(6):
  print(value)

0
1
2
3
4
5

**Using range() to Make a List of Numbers**

In [12]:
numbers  = list(range(1,5))
print(numbers)

[1, 2, 3, 4]

In [16]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [17]:
squares = []
for number in range(1,20):
  square = number**2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

**Simple Statistics with a List of Numbers**

In [21]:
print(min(squares))
print(max(squares))
print(sum(squares))

1
361
2470

**List Comprehensions**

In [36]:
squares = [value**2 for value in range(1,21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# **Working with Part of a List**

**Slicing a List**

In [41]:
print(squares[1:3])
# del squares[1:3]
print(squares)
print(squares[:9])
print(squares[1:])
print(squares[-3:])
print(squares[:-3])

[4, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[324, 361, 400]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]

**Looping Through a Slice**

In [43]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
 print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

**Copying a List**

In [46]:
my_bikes = ['r15','ducati','gixxer']
my_friends_bike = my_bikes[:]
print(my_friends_bike)
print(my_bikes)
my_bikes.append('pulsar')
my_friends_bike.append('ktm')
print(my_bikes)
print(my_friends_bike)

['r15', 'ducati', 'gixxer']
['r15', 'ducati', 'gixxer']
['r15', 'ducati', 'gixxer', 'pulsar']
['r15', 'ducati', 'gixxer', 'ktm']

**Note**
1. Instead of storing a copy of my_bikes in my_friends_bikes, we set my_friends_bikes equal to my_bikes. This syntax actually tells Python to associate
the new variable my_friends_bikes with the list that is already associated with
my_bikes, so now both variables point to the same list. As a result, when we
add 'pulsar' to my_bikes, it will also appear in my_friends_bikes. Likewise 'ktm' will appear in both lists, even though it appears to be added only to my_friends_bikes.

In [51]:
my_bikes.append('enfield')
my_friends_bike.append("ninja")
print(my_bikes)
print(my_friends_bike)

['r15', 'ducati', 'gixxer', 'pulsar', 'enfield', 'enfield', 'enfield', 'enfield']
['r15', 'ducati', 'gixxer', 'ktm', 'ninja', 'ninja']

# Tuples

1. Lists work well for storing collections of items that can change throughout
the life of a program. The ability to modify lists is particularly important
when you're working with a list of users on a website or a list of characters in
a game. However, sometimes you'll want to create a list of items that cannot
change.
2. Tuples allow you to do just that. Python refers to values that cannot
change as immutable, and an immutable list is called a tuple.
3. A tuple looks just like a list except you use parentheses instead of square
brackets. Once you define a tuple, you can access individual elements by
using each item’s index, just as you would for a list.
4.
When compared with lists, tuples are simple data structures. Use them
when you want to store a set of values that should not be changed throughout the life of a program.

In [57]:
dimension = (10,2)
print(dimension[0])
print(dimension[1])
# dimension[0] =9 , tuples are immutable

10
2

In [59]:
# tuple with only one element
dimensions  = (9,)
print(dimensions)

(9,)

**Looping Through All Values in a Tuple**

In [60]:
dimensions  = (1,2,3,4)
for dimension in dimensions:
  print(dimension)

1
2
3
4